<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>What the Shell?!</title>

  <meta name="author" content="Jose V. Trigueros">

  <link rel="stylesheet" href="css/reveal.css">
  <link rel="stylesheet" href="css/simple.css" id="theme">
</head>
<body>

<div class="reveal">
  <div class="slides">
    <section>
      <h1>What the Shell?!</h1>
    </section>

    <section>
      <h1>Why are you here?</h1>
      <ul>
        <li class="fragment current-visible">Your manager made you come.</li>
        <li class="fragment current-visible">You thought there was free food.</li>
        <li class="fragment current-visible grow">You want to become 10x faster!</li>
      </ul>
    </section>
    
    <section>
      <h1>Why should you believe me?</h1>
      <img src="assets/cmd.png" class="fragment">
    </section>

    {{> tools}}

    {{> terminal}}
  </div>
</div>

<script src="js/head.min.js"></script>
<script src="js/reveal.js"></script>
<script>
  Reveal.initialize({
    controls: true,
    progress: true,
    slideNumber: true,
    history: true,
    center: false,
    transition: 'slide'
  })
</script>
</body>
</html>