<section>
  <h1>Command Line</h1>
  <blockquote>
    “The most important property of a program is whether it accomplishes the intention of its user.”
    ― C.A.R. Hoare
  </blockquote>
</section>

<section>
  <h2>Why...</h2>
  <img src="assets/terminal.png" height="200px" alt="">
  <p>
    <i>Why do we still use such basic way to interact with a computer?</i>
  </p>
  <p>
    <b class="fragment">Because it does exactly what we tell it to.</b>
  </p>
</section>

<section>
  <section>
    <h1>The Emulator</h1>
    <img src="assets/fallout4-terminal.jpg" alt="">
    <p>
      When referring to the command line, we typically are talking about an emulator. It's the application
      that emulates an actual terminal on your computer.
    </p>
  </section>

  
</section>