<section>
  <h1>Command Line</h1>
  <blockquote>
    “The most important property of a program is whether it accomplishes the intention of its user.”
    ― C.A.R. Hoare
  </blockquote>
</section>

<section>
  <h2>Why...</h2>
  <img src="assets/terminal.png" height="200px" alt="">
  <p>
    <i>Why do we still use such basic way to interact with a computer?</i>
  </p>
  <p>
    <b class="fragment">Because it does exactly what we tell it to.</b>
  </p>
</section>

<section>
  <section>
    <h1>The Emulator</h1>
    <img src="assets/fallout4-terminal.jpg" alt="">
    <p>
      When referring to the command line, we typically are talking about an emulator. It's the application
      that emulates an actual terminal on your computer.
    </p>
  </section>

  <section>
    <h2>Linux</h2>
    <img src="assets/tux.png" alt="">
    <p>The defaults are pretty good.</p>
  </section>

  <section>
    <h2>OS X</h2>
    <img src="assets/osx.png" alt="">
    <p>The default is too barebones.</p>
  </section>
  <section>
    <h2><a href="https://www.iterm2.com/">iTerm2</a></h2>
    <img src="assets/iterm2.jpg" alt="">
  </section>

  <section>
    <h2>Windows</h2>
    <img src="assets/windows.svg" height="200px" alt="">
    <p>The default is <code>command prompt</code> 'nuff said.</p>
  </section>
  <section>
    <h2><a href="http://babun.github.io/">babun (mintty)</a></h2>
    <iframe src="https://player.vimeo.com/video/95045348" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <p>
      If you're familiar with <code>cygwin</code>, this emulator is that plus a bunch of little
      features that will make your life better. It comes with a package manager called <code>pact</code>.
    </p>
  </section>
  <section>
    <h2><a href="http://cmder.net/">cmder (ConEmu)</a></h2>
    <img src="assets/cmder.jpg" height="400" alt="">
    <p>
      Pure Windows port of many Linux command line programs. This emulator makes working on Windows fun again!
    </p>
  </section>
</section>