<section>
  <section>
    <h1>Tools of the Trade</h1>
    <blockquote>
      “Geeks are people who love something so much that all the details matter.”
      – Melissa Meyer, Yahoo! CEO
    </blockquote>
  </section>

  <section>
    <h2>The Keyboard</h2>
    <p>Primary input device, very important choose wisely.</p>
    <img src="assets/keyboard.jpg" alt="">
  </section>
  <section>
    <h3>Rubber Dome</h3>
    <img src="assets/rubber-dome.jpg" alt="">
    <p>
      Most commonly used keyboard type nowadays. This is what the majority of people use. They
      are cheap and can come wired or wireless.
    </p>
  </section>
  <section>
    <h3>Mechanical</h3>
    <img src="assets/buckling-spring.gif" alt="">
    <p>
      Used to be a lot more common back in the day, and lost popularity because they are expensive. However,
      their build quality is usually higher and the clacking sound feels good.
    </p>
  </section>
  <section>
    <h3>Ergonomic</h3>
    <img src="assets/ergonomic.jpg" alt="">
    <p>
      Main purpose is to prevent strain while typing.
    </p>
  </section>
  <section>
    <h3>Custom Built</h3>
    <img src="assets/ergodox.png" height="200px" alt="">
    <p>
      Some people take it to the next level and build their own keyboards. One popular approach is to
      obtain an ErgoDox PCB and customize around it. This allows the user to pick a body and switch that
      they are most comfortable with.
    </p>
    <p>
      Matt Adereth gave a <a
        href="http://adereth.github.io/blog/2015/11/19/clojure-slash-conj-talk-on-3d-printing-keyboards/">talk</a>
      on how he made his own keyboard, very informative.
    </p>
  </section>
  <section>
    <h3>Layout: DVORAK</h3>
    <img src="assets/dvorak.svg" alt="">
  </section>
  <section>
    <h3>Layout: Colemak</h3>
    <img src="assets/colemak.svg" alt="">
  </section>
  <section>
    <h3>ProTip&trade;</h3>
    <ul>
      <li class="fragment">Experiment with different kinds of keyboards.</li>
      <li class="fragment">Pick on that makes you happy.</li>
      <li class="fragment">Try remapping your <b>CapsLock</b> to something not CapsLock.</li>
      <li class="fragment">If you choose a different keyboard layout, good luck.</li>
      <li class="fragment">Clean your keyboard.</li>
    </ul>
  </section>

  <section>
    <h2>The Mouse</h2>
    <p>Secondary input device, not necessary but makes life easier :)</p>
    <img src="assets/mouse.gif" alt="">
  </section>

  <section>
    <h3>Gaming</h3>
    <img src="assets/gaming.png" alt="">
    <p>
      The word <i>gaming</i> in product names might put off some folks.
      Don't be too quick to dismiss a gaming mouse because you don't play games, they have
      features that a regular mice may not have.
    </p>
  </section>
  <section>
    <h3>Ergonomic</h3>
    <img src="assets/trackball.jpg" alt="">
    <p>Its main purpose is to prevent strain.</p>
  </section>
  <section>
    <h3>ProTip&trade;</h3>
    <ul>
      <li class="fragment">Labels can be misleading.</li>
      <li class="fragment">Try disabling mouse acceleration.</li>
      <li class="fragment">Try the trackball, you'll like it.</li>
      <li class="fragment">If your mouse has more than three buttons, make them do something.</li>
    </ul>
  </section>

  <section>
    <h3>My Preference</h3>
    <img src="assets/keyboard-mouse.jpg" alt="">
  </section>
</section>